@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Rubik', sans-serif;
}

.input-checked {
	display: none;
}

.label-checked::before {
	content: '';
	border: solid 1px #2E384D;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 5px;
}

.input-checked:checked + .label-checked::before {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
	color: #fff;
	content: '\f00c';
	font-family: FontAwesome;
	background-color: #0BA4A0;
	position: absolute;
	top: 5px;
	border: none;
}

.input-checked:checked + .label-checked {
	font-weight: bold;
	color: #0BA4A0;
}

/* .select-adviser {
	margin: 2em;
	padding: .5em;
	border: 2px solid #6bb99c;
	width: 12em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 2px;
} */

/* .select-adviser > ul {
	display: none;
	list-style: none;
} */

.select-adviser:hover > ul {
	display: block;
	background: #f9f9f9; 
	border-top: 1px solid #6bb99c;
}

.select-adviser:hover > ul > li {
	padding: 5px;
	border-bottom: 1px solid #6bb99c;
}

.select-adviser:hover > ul > li:hover {
	background: white;
}

.select-adviser:hover > ul > li:hover > a {
	color: red;
}